.App {
  text-align: center;
}

body {
  background: url(/background.svg);
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

.btnColor {
  background: #3D348F !important;
  color: white !important;
}

.image-btn:hover {
  cursor: pointer;
}